<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <File name           ="articles-log-file"
              fileName       ="logs/articles-all.log"
              immediateFlush ="false"
              append         ="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="articles-log-file"/>
        </Root>
    </Loggers>
</Configuration>